<?xml version="1.0" encoding="windows-1252" ?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- HSQL DB running on localhost -->
        <property name="connection.url">jdbc:mysql://localhost:3306/cs544?useSSL=false</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">cs544</property>
        <property name="connection.password">201511</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Use the Hibernate built-in pool for tests.
        <property name="connection.pool_size">1</property> -->

        <!-- Show all SQL DML executed by Hibernate -->
        <property name="show_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="hibernate.format_sql">false</property>
        
        <!-- Always drop and recreate the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Disable second-level cache provider
        <property name="cache.provider_class">org.hibernate.cache.NoCacheRegionFactoryAvailableException</property> -->

        <!-- Mapping files -->
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.Course"/>
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.CourseOffering"/>
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.Location" />
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.Student" />
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.AttendanceRecord" />
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.Timeslot" />
        <mapping class="edu.mum.cs.cs544.project.timesheet.entity.Session" />
      </session-factory>
</hibernate-configuration>
