/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2014, 3:26:53 PM
    Author     : mzijlstra
*/

.error {
    color: red;
}
.errorblock {
    color: black;
    background-color: #fee;
    border: 3px solid red;
    padding: 8px;
    margin: 16px;
}