<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         id="WebApp_ID" version="2.5">
    <welcome-file-list>
        <welcome-file>StudentsCourseServlet</welcome-file>
    </welcome-file-list>
    <filter>
        <display-name>OpenSessionInViewFilter</display-name>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>cs544.exercise16_2.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>StudentsCourseServlet</display-name>
        <servlet-name>StudentsCourseServlet</servlet-name>
        <servlet-class>cs544.exercise16_2.StudentsCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentsCourseServlet</servlet-name>
        <url-pattern>/StudentsCourseServlet</url-pattern>
    </servlet-mapping>
</web-app>